<footer>
    <div class="foot-container">
        <p>&copy; 2025 Neal Champagne</p>
        <p>Data from <a href="https://pokeapi.co/" target="_blank" rel="noopener noreferrer">PokeAPI</a></p>
    </div>
</footer>