body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: grid;
  margin: 0;
  padding: 0;
  justify-items: center;
  grid-template-rows: 10rem 1fr 7rem;
  overflow: hidden;
}

/* Header and Footer */
header, footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ff2525;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container, .foot-container {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 1rem;
}

.header-icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

#trainer-list-main {
  display: grid;
  justify-items: center;
  height: calc(100vh - 17rem);
}

/* Trainer list/Homepage */
.trainer-list-container {
  display: grid;
  justify-items: start;
  padding: 2rem;
  height: min-content;
  width: max-content;
}

.new-trainer-btn {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.trainer-preview-list {
  padding: 0;
  display: grid;
  gap: 0.5rem;
  overflow-y: auto;
}

li {
  list-style: none;
}

.trainer-card {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  width: min-content;
}

.team-sprites {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  gap: 1rem;
  flex-wrap: wrap;
}

.sprite-wrapper {
  position: relative;
  display: grid;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.preview-sprite {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

/* Form for creating/editing a trainer */
#trainer-form-main {
  display: grid;
  justify-items: center;
  height: calc(100vh - 17rem);
}

.trainer-form-container {
  display: grid;
  justify-items: start;
  padding: 2rem;
  height: min-content;
  width: max-content;
}

#trainerForm {
  display: grid;
  gap: 1rem;
  width: max-content;
  justify-items: start;
  grid-template-rows: repeat(4, max-content);
}

.input-container {
  display: grid;
  width: max-content;
  grid-template-rows: repeat(2, min-content);
  gap: 0.5rem;
}

.input-container label {
  font-weight: bold;
}


/* Detail page for a specific trainer */
#trainerPageContent {
  display: grid;
  justify-items: center;
  height: calc(100vh - 17rem);
  width: 100%;
  overflow: hidden;
}

.trainer-detail-container {
  display: grid;
  justify-items: start;
  padding: 2rem;
  height: min-content;
  overflow: hidden;
}

.button-container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
  justify-items: start;
  margin-top: 1rem;
}


/* Modal styles */
.modal {
  display: none; /* base hidden */
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.open {
  display: grid; /* or flex, depending on your layout */
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr 10rem min-content;
  gap: 1rem;
  justify-self: end;
  align-items: center;
  justify-items: end;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
}

.modal-title {
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 700;
}

.modal-content {
  display: grid;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-height: 82vh;
  overflow-y: auto;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.modal-actions {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
  justify-self: center;
}

#speciesFilterForm {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

#pokemonDetailsForm {
  justify-self: center;
  display: grid;
  width: max-content;
  grid-template-rows: repeat(4, max-content);
  align-items: center;
  justify-items: start;
  gap: 2rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.filter-btn {
  background-color: #2196F3;
  color: white;
}

.filter-label {
  font-weight: bold;
  padding: 0;
  justify-self: start;
  margin-top: 0;
}

#type-filter, #generation-filter {
  height: 5rem;
  padding: 0;
  background-color: #f9f9f9;
  pointer-events: auto;
}

.scroll-wrapper {
  height: 100%;
  overflow-y: auto;
}

#type-filter:hover, #generation-filter:hover {
  background-color: #e0e0e0;
}

#speciesResults {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  max-height: 750px; /* Adjust as needed */
  overflow-y: auto;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.species-card {
  background: white;
  height: 120px;
  width: 120px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding: 8px;
  transition: transform 0.1s ease;
}

.species-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.species-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: -1.5rem;
}

.trainer-team-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(6, 200px);
  gap: 1rem;
}

.slot-card { 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  height: 200px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
}

.type-badges,
.details-types {
  display: flex;
  justify-content: center; /* center badges under the name/image */
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.type-bubble {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4) /* subtle lift */
}

.type-bubble:has(img[hidden]) {
  display: none;
}

.bug {
  background-color: #A8B820;
}
.dark {
  background-color: #705848;
}
.dragon {
  background-color: #7038F8;
}
.electric {
  background-color: #F8D030;
}
.fairy {
  background-color: #EE99AC;
}
.fighting {
  background-color: #C03028;
}
.fire {
  background-color: #F08030;
}
.flying {
  background-color: #A890F0;
}
.ghost {
  background-color: #705898;
}
.grass {
  background-color: #78C850;
}
.ground {
  background-color: #E0C068;
}
.ice {
  background-color: #98D8D8;
}
.normal {
  background-color: #A8A878;
}
.poison {
  background-color: #A040A0;
}
.psychic {
  background-color: #F85888;
}
.rock {
  background-color: #B8A038;
}
.steel {
  background-color: #B8B8D0;
}
.water {
  background-color: #6890F0;
}

/* The icons themselves */
.type-icon {
  justify-self: center;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  border-radius: 1rem;
  padding: 0.1rem;
}

.slot-card:hover {
  border-color: #888;
}

.slot-sprite {
  max-height: 72px;
}

.empty-slot {
  font-size: 2rem;
  color: #999;
}

.details-header {
  display: grid;
  grid-template-rows: min-content min-content;
  justify-items: center;
  align-items: center;
}

.details-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.no-sprite {
  font-size: 0.9rem;
  color: #bbb;
}


/* Button styles */
.filter-btn,.close-btn, .edit-btn, .delete-btn, .back-btn, .submit-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 1rem 1rem 0;
  font-weight: 700;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
}

.back-btn {
  background-color: #e0e0e0;
  color: #333;
  margin-bottom: 1rem; 
}

.close-btn {
  background-color: #f0f0f0;
  color: #333;
  font-size: 2rem;
  justify-self: end;
}

.edit-btn {
  background-color: #2196F3;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}